{% extends "template.twig" %}
{% block title %}Checkin{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <p>Some cities don't have a ship for count set. Please set all ship for counts in "Shipments" to continue.</p>
{% endblock %}