<h2>Tools</h2>

<section class="batch-tools">
    <ul>
        <li><a href="/tools/attendee">Attendee Finder</a></li>
        <li><a href="/tools/directory">Batch Directory</a></li>
        {% if me.is_admin %}
            <li><a href="/tools/status">Batch Status</a></li>
            <li><a href="/tools/promotions">Batch Promotions</a></li>
            <li><a href="/tools/emails">Batch Email</a></li>
            <li><a href="/tools/tasks">Tasks</a></li>
            <li><a href="/tools/revenue">Revenue</a></li>
        {% endif %}
    </ul>
</section>

<section class="evangelism">
    <h3>Evangelism</h3>
    <ul>
        <li><a href="/tools/checkin">Checkin</a></li>
        <li><a href="/tools/deck">Kickoff Slide Deck</a></li>
        {% if me.is_admin %}
            <li><a href="/tools/evangelists">Evangelist Assignments</a></li>
        {% endif %}
    </ul>
</section>

{% if me.is_admin %}
    <section class="shipping">
        <h3>Shipping</h3>
        <ul>
            <li><a href="/tools/shipments">Shipments</a></li>
            <li><a href="/tools/manifests">Manifests</a></li>
        </ul>
    </section>
{% endif %}

<section class="api">
    <h3>API</h3>
    <ul>
        <li><a href="/tools/applications">Applications</a></li>
        <li><a href="/docs/model/Batch">Docs</a></li>
    </ul>
</section>
