<ul>
    <li><a href="/tools/attendee">Attendee Finder</a></li>
    <li><a href="/tools/checkin">Checkin</a></li>
    <li><a href="/tools/deck">Kickoff Slide Deck</a></li>
    {% if me.is_admin %}
        <li><a href="/tools/promotions">Batch Promotions</a></li>
        <li><a href="/tools/evangelists">Evangelist Assignments</a></li>
    {% endif %}
</ul>