{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}
{% block preview %}We need to know how to reach you.{% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-staff.jpg{% endblock %}
{% block title %}Hey! You can do better!{% endblock %}

{% block sign_img %}https://srnd-cdn.net/emails/sign-john.png{% endblock %}
{% block sign_name %}John Peter{% endblock %}
{% block sign_title %}Official srnd.org Human{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-john.png{% endblock %}

{% block body %}
    <p>{{ user.first_name }}!</p>

   <p>During CodeDay, if any parents need to reach someone at the event, I'll route them to you. (Don't worry, I won't
       give out this number directly; it goes through our phone system.)</p>

    <p>You can enter your contact number <a href="https://s5.studentrnd.org/me/edit">on s5</a>.</p>

    {% if loaded_batch.starts_at.addDays(-8).isPast() %}
        <p>This information is <strong>OVERDUE!</strong> Please enter it as soon as possible!</p>
    {% else %}
        <p>Please enter it by <strong>{{ loaded_batch.starts_at.addDays(-8).timestamp|date('l, F j') }}</strong>.</p>
    {% endif %}
{% endblock %}
