{% extends "emails/template_transactional.twig" %}
{% block header %}
    <img src="https://clear.codeday.org/assets/img/email_confirm_header_01.jpg" alt="Your CodeDay Registration"/>
{% endblock %}
{% block unsubscribe %}{% endblock %}
{% block body %}
    <p>Hi {{ registration.first_name }},</p>

    <p>Thanks for registering for CodeDay {{ registration.event.name }}. {{ registration.event.starts_at|date('F jS') }}
        is fast approaching, and we want to make sure you're ready to attend.</p>

    <p>Before you attend, we need a little more information:<p>
    <ul>
        <li>Your age</li>
        <li>If you're under 18, your parent contact info</li>
        <li>A signed waiver</li>
    </ul>
    <p>You'll also need to print your ticket.</p>

    <p><a href="https://codeday.vip/{{ registration.id }}">You can complete these final steps by clicking here.</a> It'll only take a minute or two.</p>

    <p>Cheers!<br />
        The CodeDay Team</p>
{% endblock %}
