{% extends "template.twig" %}
{% block title %}Deck{% endblock %}
{% block section %}dayof{% endblock %}
{% block subnav %}{% include "dayof/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Deck</h2>
        <p>The opening presentation! Automatically generates a slide deck and notes including local sponsors, workshops, etc.</p>
    </header>

    <p>
       <a href="/dayof/deck/slides">Slides</a>
    </p>

{% endblock %}
