{% extends "template.twig" %}
{% block title %}Public Notes{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Public Notes for {{ event.name }}</h2>
    </header>

    {% if event.public_notes %}
      {{ event.public_notes|escape }}
    {% else %}
      <i>This event doesn't have any public notes.</i>
    {% endif %}
{% endblock %}
