{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}
{% block preview %}What you need to know as a Code Evangelist{% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-staff.jpg{% endblock %}
{% block title %}Hey! Ready for CodeDay?{% endblock %}
{% block body %}
    <p>Hi {{ user.first_name }},</p>

    <p>Thanks for joining us as an evangelist for CodeDay {{ managed_batch.name }}! I'm your friendly human John Peter,
        and I'm here to guide you through what needs to happen to make this a good event.</p>

    <p><strong>First of all, you need to read the
       <a href="https://www.notion.so/srnd/Code-Evangelist-5b4c017d0c544a43b3c1dec36154c3d0">Evangelism Guide</a>.</strong> Please also read the
       <a href="https://www.notion.so/srnd/Day-Of-Event-Guide-c85f35baf33f4bbb87133a8d04d2118d">event guide</a> if you're new to volunteering
        at CodeDay. You will be responsible for leading this format.</p>

    <p>You already have an s5 account, so you're ready to log into all our internal tools. One of the tools you'll find
        most useful is <a href="https://clear.codeday.org/">Clear</a> -- the CodeDay management backend.</p>

    {% if not user.phone %}
        <p>Also, I don't want to sound like a stalker or anything, but...
           <a href="https://s5.studentrnd.org/me/edit">what's your phone number?</a> You need to set it in your account
           so we can reach you in case of an emergency.</p>
    {% endif %}
{% endblock %}
{% block sign_img %}https://srnd-cdn.net/emails/sign-john.png{% endblock %}
{% block sign_name %}John Peter{% endblock %}
{% block sign_title %}Official srnd.org Human{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-john.png{% endblock %}
