<!doctype html>
<html lang="en">
<head>
    <title>
        {% if block('title') %}
            {{ block('title') }} //
        {% endif %}
        Clear // CodeDay
    </title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body class="front">
    <section class="content wrap">
        {{ block('content') }}
    </section>

    {{ block('scripts') }}
</body>
</html>
