{% extends "template.twig" %}
{% block title %}Tasks{% endblock %}
{% block section %}batch{% endblock %}
{% block subnav %}{% include "batch/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Tasks</h2>
        <p>Tasks are manual admin actions which need to be taken before the event.</p>
    </header>

    <table class="tasks">
        <tbody>
            <tr>
                <td class="step {% if managed_batch.venue_reminder_email_sent_at %}done{% endif %}"><span><span></span></span></td>
                <td>
                    {% if managed_batch.venue_reminder_email_sent_at %}
                        Venue Reminder Email: Sent
                    {% else %}
                        <form action="/batch/tasks/sendvenuereminder" class="inline dangerous" method="post">
                            <input type="submit" value="Send Venue Reminder Email"/>
                            {{ csrf|raw }}</form>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="step {% if managed_batch.preevent_email_sent_at %}done{% endif %}"><span><span></span></span></td>
                <td>
                    {% if managed_batch.preevent_email_sent_at %}
                        Pre-Event Email: Sent
                    {% else %}
                        <form action="/batch/tasks/sendpreevent" class="inline dangerous" method="post">
                            <input type="submit" value="Send Pre-Event Email" />
                        {{ csrf|raw }}</form>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="step {% if managed_batch.reminder_email_sent_at %}done{% endif %}"><span><span></span></span></td>
                <td>
                    {% if managed_batch.reminder_email_sent_at %}
                        Reminder Email: Sent
                    {% else %}
                        <form action="/batch/tasks/sendreminder" class="inline dangerous" method="post">
                            <input type="submit" value="Send Reminder Email"/>
                            {{ csrf|raw }}</form>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="step {% if managed_batch.venue_postevent_email_sent_at %}done{% endif %}"><span><span></span></span></td>
                <td>
                    {% if managed_batch.venue_postevent_email_sent_at %}
                        Venue Post-Event Email: Sent
                    {% else %}
                        <form action="/batch/tasks/sendvenuepostevent" class="inline dangerous" method="post">
                            <input type="submit" value="Send Venue Post-Event Email"/>
                            {{ csrf|raw }}</form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}