{% extends "emails/template_transactional.twig" %}
{% block body %}
    <p>Hi there {{ registration.first_name }}!</p>

    <p>Thank you for registering as a judge for CodeDay. This email confirms that we're planning to see you on
       {{ registration.event.ends_at|date('F j, Y') }} at 9am.</p>

    <p>A few days before the event, you'll receive an email reminder with the address, arrival procedures, and contact
       information. <a href="http://assets.srnd.org/codeday/judges.pdf">You can learn more about how judging works
       here.</a></p>

    <p>We're looking forward to seeing you soon! Please reply to this email if you have any questions.</p>
{% endblock %}
