{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}
{% block preview %}We're excited to have you join us for CodeDay. Here's some additional information about mentoring.{% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-judges.jpg{% endblock %}
{% block title %}Welcome CodeDay mentors!{% endblock %}

{% block sign_img %}https://srnd-cdn.net/emails/sign-tyler.png{% endblock %}
{% block sign_name %}Tyler Menezes{% endblock %}
{% block sign_title %}Executive Director, srnd.org{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-tyler.png{% endblock %}
{% block body %}
    <p>Hi {{ registration.first_name }},</p>

    <p>Thank you for your interest in being a CodeDay mentor. Your application was accepted! Here's what you need to
       know about mentoring.</p>

    <p>Your local CodeDay team might contact you to schedule a specific shift, otherwise you can arrive any time
       between 2pm and midnight on Saturday, {{ registration.event.starts_at|date('F j') }}. Please plan to stay for at
       least two hours.</p>

    <p>Mentoring at CodeDay is different from mentoring at a traditional hackathon:</p>

    <ul>
        <li>Many students will be total beginners. Expect to help students who are confused about basic concepts.</li>
        <li>Beginners will be afraid to ask you for help. You will need to be proactive in asking teams about problems.</li>
        <li>Teach students to think like a developer. Before answering a question, ask "how does your code work" and
            "what have you Googled?"</li>
    </ul>

    <p>We're looking forward to seeing you soon! Please let me know if you have any questions.</p>
{% endblock %}
