{% extends "emails/template_transactional.twig" %}
{% block body %}
    <p>Hi {{ registration.first_name }},</p>

    <p>Thank you for attending CodeDay this weekend! We hope we lived up to your expectations!</p>

    <p><a href="https://clear.codeday.org/e/feedback?r={{ registration.id }}">Would you be willing to share your experience with us?</a> Your feedback helps us make future CodeDays even better!</p>

{% endblock %}
