{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}

{% block sign_img %}https://srnd-cdn.net/emails/sign-tyler.png{% endblock %}
{% block sign_name %}Tyler Menezes{% endblock %}
{% block sign_title %}Executive Director, srnd.org{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-tyler.png{% endblock %}
{% block body %}
    <p>Hi {{ event.venue_contact_first_name }},</p>

    <p>I just wanted to take a quick moment to thank you for hosting CodeDay.</p>

    <p>Our staff made every effort to return your venue to the way we found it. If you notice any problems, can you
       please let me know as soon as possible? We really appreciate that you hosted CodeDay, and we'll do everything we
       can to fix any problems.</p>

    <p>If you see any problems, you can reply to this email or call me at (206) 739-4741.</p>
{% endblock %}
