<p>Thank you for registering as a judge for CodeDay. This email confirms that we're planning to see you on
    {{ registration.event.ends_at|date('F j, Y') }} at 9am.</p>

<p>A few days before the event, you'll receive an email reminder with the address, arrival procedures, and contact
    information. <a href="https://srnd-cdn.net/codeday/judges.pdf">If you'd like, you can read how judging works
    here,</a> although we're happy to explain when you arrive.</p>

<p>We're looking forward to seeing you soon! Please let me know if you have any questions.</p>
