<p>We're excited to have you join us for CodeDay, {{ registration.first_name }}!</p>

<p>As a reminder, CodeDay is a 24-hour event where students of all ages work together to build apps and games. It takes place in over 40 cities simultaneously on three weekends a year.</p>

<p>The program, run by the non-profit srnd.org, is focused on getting underrepresented students to take an interest in coding.</p>

<p>CodeDay attracts students because, unlike a class or workshop, students start by pitching ideas for games or apps they want to build, then spend the rest of the weekend working in teams to bring the most fun ideas to life.</p>

<p>Also unlike a class, students take regular breaks to sing karaoke, play video games, or even compete to see who can write code the fastest without using their hands.</p>

<p>Many students attend CodeDay with no experience or serious interest in programming, but nearly three-quarters will still be coding three months after attending a CodeDay. Most of these students will enroll in a CS class within a year.</p>

<p>If you have any questions about CodeDay, please call Tyler Menezes at (206) 739-4741.</p>
