<p>We appreciate your organization's support of CodeDay {{ registration.event.name }} on
    {{ registration.event.ends_at|date('F j') }}. We work to inspire diverse students to pursue Computer Science,
    and spend just over $30 per student to do so. As a non-profit, we rely on the help of companies like yours to
    make that possible.</p>

<p>This email confirms that you will be attending CodeDay. Please let us know if your plans change.</p>

<p>We recommend you take a look at any relevant sections of our
    <a href="https://codeday.sponsor.srnd.org/">sponsor guide</a> to learn how to get the most from your
    sponsorship.</p>

<p>Thanks again for your support. Please let me know if you have any questions.</p>
