<p>{{registration.first_name }}! Can it be true? We just heard you're going to CodeDay {{ registration.event.name }}!</p>
<p><strong><a href="https://codeday.vip/{{ registration.id }}">There's just one last step: please sign your waiver.</a></strong></p>
