<p>We're excited to have you and your students join us for CodeDay, {{ registration.first_name }}!</p>

<p>Just a heads-up: CodeDay is very different from a class... and that's a good thing! As an extracurricular, we're
   able to run a program with no grades, no assignments, and no testing, just fun!</p>

<p>The learning objectives for CodeDay are different from many traditional computer science classes; we do not aim to
   teach any specific programming concepts. Instead, we aim to teach students to think like a real programmer. By
   the end of CodeDay, your students will be able to:</p>

<ul>
    <li>Break an idea for a programming project into its sub-components.</li>
    <li>Troubleshoot code which does not produce an expected result.</li>
    <li>Conduct research into new technologies, programming architectures, and errors.</li>
    <li>Scope a project to the available time.</li>
    <li>Talk about their project with other professional programmers.</li>
    <li>Express their creativity through coding!</li>
</ul>

<p>These objectives require us to let students struggle a bit, so please don't be surprised! Feel free to reach out
   with any questions!</p>
