<p>{{ registration.first_name }}, this email confirms that you are a volunteer at CodeDay! We're so happy to have your
   help! Here are your next steps:</p>

<ul>
   <li><a href="https://codeday.vip/{{ registration.id }}">Please provide your emergency contact information if you're under 18.</a></li>
   <li>You can find training for the event at <a href="https://codeday.training.srnd.org/">codeday.training.srnd.org</a>.</li>
   <li>If you expect you will need access to the event management system (for example if you plan to help with check-in,
       might need to look up attendee information, or want to create promo codes and flyers), please make an account at
       <a href="https://account.srnd.org/">account.srnd.org</a> and let your contact know your username.</li>
   <li>Your event contact will provide you with schedule information if they have not already.</li>
</li>
