{% extends "template.twig" %}
{% block title %}Manifests{% endblock %}
{% block section %}batch{% endblock %}
{% block subnav %}{% include "batch/subnav.twig" %}{% endblock %}
{% block content %}
    <p>Some cities don't have a ship for count set. Please set all ship for counts in "Shipments" to continue.</p>
{% endblock %}