{% extends "template.twig" %}
{% block title %}News{% endblock %}
{% block section %}batch{% endblock %}
{% block subnav %}{% include "batch/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>News</h2>
        <p>Update the message displayed on the dashboard to all volunteers and staff.</p>
    </header>

    <form method="post">
        <div class="field">
            <label for="news">News</label>
            <textarea name="news" id="news">{{ managed_batch.news }}</textarea>
        </div>
        <input type="submit" value="Update" />
    {{ csrf|raw }}</form>

{% endblock %}
