{% extends "template.twig" %}
{% block title %}Status{% endblock %}
{% block section %}batch{% endblock %}
{% block subnav %}{% include "batch/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Status</h2>
        <p>HUD for what's done in the batch.</p>
    </header>

{% endblock %}
