<h2>Batch</h2>

<section class="batch-tools">
    <ul>
        <li><a href="/batch/change">Change</a></li>
        <li><a href="/batch/directory">Directory</a></li>
        {% if me.is_admin %}
            <li><a href="/batch/status">Status</a></li>
            <li><a href="/batch/finances">Finances</a></li>
            <li><a href="/batch/tasks">Tasks</a></li>
            <li><a href="/batch/send-sms">Send SMS</a></li>
        {% endif %}
    </ul>
</section>

{% if me.is_admin %}
    <section class="promotion">
        <h3>Promotion</h3>
        <ul>
            <li><a href="/batch/promotions">Promotions</a></li>
            <li><a href="/batch/emails">Emails</a></li>
        </ul>
    </section>

    <section class="bulk-tools">
        <h3>Settings</h3>
        <ul>
            <li><a href="/batch/managers">Managers</a></li>
            <li><a href="/batch/evangelists">Evangelists</a></li>
        </ul>
    </section>

    <section class="shipping">
        <h3>Shipping</h3>
        <ul>
            <li><a href="/batch/supplies">Supplies</a></li>
            <li><a href="/batch/shipments/amounts">Shipment Amounts</a></li>
            <li><a href="/batch/shipments/push">Push to ShipStation</a></li>
        </ul>
    </section>
{% endif %}

