<h2>Docs</h2>

<section class="models">
    <h3>Clear API</h3>
    <ul>
        <li><a href="http://docs.clear.codeday.org/docs">Documentation</a></li>
        <li><a href="http://docs.clear.codeday.org/reference">API Reference</a></li>
    </ul>

    <h3>Models</h3>
    <ul>
        <li><a href="/docs/model/Announcement">Announcement</a></li>
        <li><a href="/docs/model/Application">Application</a></li>
        <li><a href="/docs/model/Batch">Batch</a></li>
        <li><a href="/docs/model/Region">Region</a></li>
        <li><a href="/docs/model/Event">Event</a></li>
        <li><a href="/docs/model/Grant">Grant</a></li>
        <li><a href="/docs/model/Venue">Venue</a></li>
        <li><a href="/docs/model/Registration">Registration</a></li>
        <li><a href="/docs/model/User">User</a></li>
    </ul>
</section>
