<h2>Docs</h2>

<section class="models">
    <h3>API Docs</h3>
    <ul>
        <li><a href="http://docs.clear.codeday.org/v1.0/docs/getting-started">Getting Started</a></li>
    </ul>

    <h3>Models</h3>
    <ul>
        <li><a href="/docs/model/Batch">Batch</a></li>
        <li><a href="/docs/model/Region">Region</a></li>
        <li><a href="/docs/model/Event">Event</a></li>
        <li><a href="/docs/model/Venue">Venue</a></li>
        <li><a href="/docs/model/Registration">Registration</a></li>
        <li><a href="/docs/model/User">User</a></li>
    </ul>
</section>
