{% extends "template.twig" %}
{% block title %}Giftcards{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Giftcards</h2>
        <p>This tool lets you issue new giftcards.</p>
    </header>

    <h3>Generate Codes</h3>
    <form method="post">
        <div class="field">
            <label for="count">Number to Generate</label>
            <input name="count" id="count" />
        </div>
        <input type="submit" value="Issue" />
    {{ csrf|raw }}</form>

    <h3>Upload a List</h3>
    <form method="post">
        <div class="field">
            <label for="codes">Codes</label>
            <textarea name="codes" id="codes"></textarea>
            <span class="help">List of codes to issue, one per line.</span>
        </div>
        <input type="submit" value="Issue" />
    {{ csrf|raw }}</form>
{% endblock %}
