<section class="batch-tools">
    <ul>
        <li><a href="/tools/tidbits">Tidbits</a></li>
        <li><a href="/tools/banlist">Banlist</a></li>
        {% if me.is_admin %}
            <li><a href="/tools/giftcards">Giftcards</a></li>
            <li><a href="/tools/query">Query</a></li>
        {% endif %}
    </ul>
</section>

<section class="api">
    <h3>API</h3>
    <ul>
        <li><a href="/tools/applications">Applications</a></li>
        <li><a href="/docs/model/Batch">Docs</a></li>
    </ul>
</section>
