{% extends "template.twig" %}
{% block title %}{{ region.name }} // Regions // Settings{% endblock %}
{% block section %}settings{% endblock %}
{% block subnav %}{% include "settings/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Region Details: {{ region.name }}</h2>
        <p><i>Please note, this page is not permanent, it will be either deleted or expanded upon later.</i></p>
    </header>
    <form method="post">
        <div class="field">
            <label for="name">Name</label>
            <input required type="text" name="name" id="name" value="{{ region.name }}" placeholder="Seattle" />
            <span class="help">The region city, to be used in various places across the website.</span>
        </div>
        <input type="submit" value="Save" />
        {{ csrf|raw }}
    </form>
{% endblock %}
