@charset "UTF-8";
body > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 1.75rem 0; }
  body > div.wrap > section.content.with-subnav {
    width: 80%;
    float: right; }
  body > div.wrap > section.content > header {
    clear: both;
    margin: 2rem 0; }
    body > div.wrap > section.content > header:first-child {
      margin-top: 0; }
    body > div.wrap > section.content > header h2 {
      font-weight: 500;
      font-size: 2.5rem;
      margin: 0; }
    body > div.wrap > section.content > header p {
      font-weight: 300;
      font-size: 0.75rem;
      max-width: 30rem; }
      body > div.wrap > section.content > header p:first-child {
        margin: 0.3rem 0 0; }
  body > div.wrap > section.content h2, body > div.wrap > section.content h3, body > div.wrap > section.content h4, body > div.wrap > section.content h5, body > div.wrap > section.content h6 {
    clear: right; }
  body > div.wrap > section.content h3 {
    margin-top: 1rem; }
  body > div.wrap > section.subnav {
    float: left;
    width: 18%;
    margin-right: 2%; }
    body > div.wrap > section.subnav h2 {
      margin-top: 0;
      text-align: center; }
    body > div.wrap > section.subnav ul {
      padding: 0; }
      body > div.wrap > section.subnav ul li {
        list-style-type: none; }
        body > div.wrap > section.subnav ul li a {
          text-decoration: none;
          display: block;
          border-bottom: 1px solid #efdede;
          padding: 0.25rem 0; }
        body > div.wrap > section.subnav ul li:first-child a {
          padding-top: 0; }
  body > div.wrap:after {
    content: "";
    clear: both;
    display: block;
    width: 0;
    height: 0; }

body > footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  font-weight: 300;
  font-size: 0.75rem;
  clear: both;
  padding: 1rem 0;
  border-top: 1px solid #efdede; }

body > header {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  border-bottom: 1px solid #efdede; }
  body > header h1 {
    float: left;
    text-indent: -19999px;
    width: 2rem;
    height: 2rem;
    background-image: url(/assets/img/logo-square.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  body > header nav, body > header section.user {
    padding-top: 0.7rem; }
    body > header nav ul, body > header section.user ul {
      padding: 0; }
      body > header nav ul li, body > header section.user ul li {
        list-style-type: none;
        display: inline-block; }
        body > header nav ul li a, body > header section.user ul li a {
          text-decoration: none; }
  body > header nav {
    float: left;
    padding-left: 1rem; }
    body > header nav ul li.active a {
      color: #FB481C;
      font-weight: 500;
      border-bottom: none; }
    body > header nav ul li a {
      margin-right: 1rem;
      font-weight: 300;
      border-bottom: 1px dotted #efdede; }
      body > header nav ul li a:hover {
        border-bottom-color: #FB481C; }
  body > header section.user {
    float: right;
    font-size: 0.75rem;
    padding-top: 1.05rem; }
    body > header section.user li {
      font-weight: 300; }
      body > header section.user li.username {
        font-weight: 700; }
      body > header section.user li a:hover {
        color: #FB481C; }
      body > header section.user li:not(:last-child) {
        padding-right: 0; }
        body > header section.user li:not(:last-child):after {
          content: "•";
          color: #efdede;
          padding: 0 0.5rem; }
  body > header:after {
    content: "";
    clear: both;
    display: block;
    width: 0;
    height: 0; }

.wrap ::-webkit-input-placeholder {
  color: #ddbcbc; }
.wrap ::-moz-placeholder {
  color: #ddbcbc;
  opacity: 1; }
.wrap input[type="text"],
.wrap input[type="url"],
.wrap input[type="number"],
.wrap input[type="email"],
.wrap input[type="phone"],
.wrap input[type="date"],
.wrap input[type="datetime"],
.wrap input[type="datetime-local"],
.wrap textarea,
.wrap .group,
.wrap select {
  border: none;
  border-bottom: 1px solid #111;
  color: #111;
  font-size: 1.2rem;
  padding: 0rem 0 0.2rem 0;
  outline: none;
  font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-family: monospace;
  background-color: #f7efef; }
  .wrap input[type="text"]:focus,
  .wrap input[type="url"]:focus,
  .wrap input[type="number"]:focus,
  .wrap input[type="email"]:focus,
  .wrap input[type="phone"]:focus,
  .wrap input[type="date"]:focus,
  .wrap input[type="datetime"]:focus,
  .wrap input[type="datetime-local"]:focus,
  .wrap textarea:focus,
  .wrap .group:focus,
  .wrap select:focus {
    border-color: #FB481C;
    color: #FB481C; }
.wrap textarea {
  border-right: 1px solid #111;
  height: 10rem; }
.wrap select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none; }
.wrap a.action, .wrap form input[type="submit"], .wrap button {
  cursor: pointer;
  display: block;
  text-align: center;
  float: right;
  min-width: 10rem;
  font-size: 1rem;
  background: linear-gradient(#FFF, #EAEDEF) repeat scroll 0% 0% #FAFAFA;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-width: 1px;
  border-style: solid;
  border-color: #EDEDED #E1E1E1 #D4D4D4;
  color: #111;
  font-weight: bold;
  padding: 7px 12px !important; }
  .wrap a.action:hover, .wrap form input[type="submit"]:hover, .wrap button:hover {
    color: #111;
    background: linear-gradient(#FCFCFC, #E0E5E8) repeat scroll 0% 0% transparent; }
  .wrap a.action:after, .wrap form input[type="submit"]:after, .wrap button:after {
    content: "";
    clear: right;
    display: block;
    width: 0;
    height: 0; }
.wrap form.small {
  display: inline-block; }
  .wrap form.small input[type="submit"] {
    display: inline-block;
    float: none;
    width: auto;
    height: auto;
    padding: 0.1rem; }
.wrap table.edit {
  width: 100%; }
  .wrap table.edit td, .wrap table.edit th {
    text-align: center; }
    .wrap table.edit td:first-child, .wrap table.edit th:first-child {
      text-align: right; }
    .wrap table.edit td input, .wrap table.edit td select, .wrap table.edit td button, .wrap table.edit th input, .wrap table.edit th select, .wrap table.edit th button {
      text-align: left; }
  .wrap table.edit input[type="submit"], .wrap table.edit button {
    display: inline-block;
    padding: 0.2rem;
    font-size: 0.75rem;
    margin: 0;
    width: auto; }
.wrap form div.field {
  clear: both;
  padding-bottom: 2rem; }
  .wrap form div.field.template {
    color: #ccc; }
    .wrap form div.field.template select {
      border-bottom-color: #ccc;
      color: #ccc; }
    .wrap form div.field.template .help {
      color: #ccc; }
  .wrap form div.field:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0; }
  .wrap form div.field > label {
    width: 25%;
    float: left;
    padding-top: 3px; }
  .wrap form div.field > input[type="text"], .wrap form div.field > input[type="url"], .wrap form div.field > input[type="number"], .wrap form div.field > input[type="email"], .wrap form div.field > input[type="phone"], .wrap form div.field > input[type="date"], .wrap form div.field > input[type="datetime"], .wrap form div.field > input[type="datetime-local"], .wrap form div.field > input[type="file"], .wrap form div.field > select, .wrap form div.field > div.combined, .wrap form div.field > div.file, .wrap form div.field > textarea {
    width: 75%;
    float: right; }
  .wrap form div.field div.file label {
    font-size: 0.75rem; }
  .wrap form div.field .help {
    width: 75%;
    display: block;
    float: right;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 300;
    color: #111; }

div.region-picker {
  width: 100%;
  height: 400px;
  margin-bottom: 0; }

input.region-picker {
  width: 100%;
  font-size: 1.2rem;
  outline: 0;
  margin-top: 0;
  border: 1px solid #efdede;
  border-top: none;
  text-align: center;
  padding: 0.25rem; }

ul.batches {
  padding: 0; }
  ul.batches li {
    list-style-type: none;
    width: 20%;
    max-width: 5rem;
    float: left;
    margin: 0 0.5rem 0 0; }
    ul.batches li a {
      text-decoration: none;
      color: #111; }
    ul.batches li.new a {
      display: block;
      width: 100%;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      border: 1px solid #efdede;
      border-top-width: 2.15rem;
      padding: 0.5rem 0; }
    ul.batches li.loaded .month, ul.batches li.loaded .year {
      background-color: #FB481C;
      color: #f7efef; }
    ul.batches li.loaded .day {
      border-color: #FB481C; }
    ul.batches li .month, ul.batches li .year {
      display: block;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      padding: 0.1rem 0;
      font-size: 0.75rem;
      width: 100%;
      background-color: #efdede; }
    ul.batches li .day {
      display: block;
      width: 100%;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      border: 1px solid #efdede;
      border-top: none;
      padding: 0.5rem 0; }
    ul.batches li .events {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 0.75rem;
      padding-top: 0.3rem;
      font-weight: 300; }
      ul.batches li .events:after {
        content: "events";
        padding-left: 0.2rem; }
  ul.batches:after {
    content: "";
    clear: both;
    display: block;
    width: 0;
    height: 0; }

body > .info {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-transform: uppercase;
  font-size: 0.8rem;
  overflow: hidden; }
  body > .info a {
    color: #fff; }
  body > .info.status {
    background-color: #15E014;
    border-bottom-color: #80f480;
    color: #0c820c; }
  body > .info.old-batch, body > .info.error {
    background-color: #FB481C;
    border-bottom-color: #fdad99;
    color: #ae2503; }

body.dashboard section.content > .countdown {
  padding: 0 0 2rem;
  border-bottom: 1px solid #efdede; }
  body.dashboard section.content > .countdown .active {
    font-weight: 500;
    font-size: 2.5rem; }
  body.dashboard section.content > .countdown .details {
    font-weight: 300;
    font-size: 0.75rem;
    padding-top: 0.3rem; }
    body.dashboard section.content > .countdown .details .name:after {
      content: "•";
      color: #efdede;
      padding: 0 0.3rem; }
body.dashboard section.content > .my-events {
  border-bottom: 1px solid #efdede; }
  body.dashboard section.content > .my-events ul {
    padding: 0; }
    body.dashboard section.content > .my-events ul li {
      list-style-type: none;
      padding: 1rem 0; }
      body.dashboard section.content > .my-events ul li div {
        float: left;
        width: 16.66%;
        display: block; }
        body.dashboard section.content > .my-events ul li div span {
          display: block;
          text-align: center; }
          body.dashboard section.content > .my-events ul li div span.number {
            font-size: 2.25rem;
            padding-top: 0.5rem; }
          body.dashboard section.content > .my-events ul li div span.label {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 0.75rem; }
        body.dashboard section.content > .my-events ul li div.name {
          border: 1px solid #111;
          background-color: #efdede;
          font-size: 2.25rem;
          font-weight: 300;
          text-align: center;
          text-transform: uppercase;
          width: 12%;
          height: 4.5rem;
          margin-right: 4.66%;
          padding-top: 1rem; }
          body.dashboard section.content > .my-events ul li div.name.open {
            background-color: #15E014; }
          body.dashboard section.content > .my-events ul li div.name.venue {
            background-color: #0343FA; }
          body.dashboard section.content > .my-events ul li div.name.closed {
            background-color: #FB481C; }
      body.dashboard section.content > .my-events ul li:after {
        content: "";
        clear: both;
        display: block;
        width: 0;
        height: 0; }
body.dashboard section.content > .other-events {
  padding-top: 2rem; }
  body.dashboard section.content > .other-events section.map {
    float: right;
    width: 60%; }
    body.dashboard section.content > .other-events section.map div.heatmap {
      width: 100%;
      height: 300px; }
  body.dashboard section.content > .other-events section.list {
    width: 35%;
    float: left; }
    body.dashboard section.content > .other-events section.list ul {
      margin: 0;
      padding: 0; }
      body.dashboard section.content > .other-events section.list ul li {
        list-style-type: none;
        padding: 0.15rem 0;
        float: left;
        width: 50%; }
        body.dashboard section.content > .other-events section.list ul li a {
          text-decoration: none; }
        body.dashboard section.content > .other-events section.list ul li div.name {
          border: 1px solid #111;
          background-color: #efdede;
          display: inline-block;
          font-size: 0.75rem;
          font-weight: 300;
          text-align: center;
          text-transform: uppercase;
          width: 2.5rem;
          margin-right: 0.2rem; }
          body.dashboard section.content > .other-events section.list ul li div.name.sold-out {
            background-color: #000;
            color: #fff; }
          body.dashboard section.content > .other-events section.list ul li div.name.open {
            background-color: #15E014; }
          body.dashboard section.content > .other-events section.list ul li div.name.venue {
            background-color: #0343FA; }
          body.dashboard section.content > .other-events section.list ul li div.name.closed {
            background-color: #FB481C; }
        body.dashboard section.content > .other-events section.list ul li div {
          display: inline; }
          body.dashboard section.content > .other-events section.list ul li div.registrants:after {
            content: ",";
            margin: 0 0.2 0 -0.2rem; }
          body.dashboard section.content > .other-events section.list ul li div span {
            text-align: left; }
            body.dashboard section.content > .other-events section.list ul li div span.number {
              font-size: 0.75rem;
              padding-top: 0.5rem; }
            body.dashboard section.content > .other-events section.list ul li div span.label {
              text-transform: uppercase;
              font-weight: 300;
              font-size: 0.75rem; }
        body.dashboard section.content > .other-events section.list ul li:after {
          content: "";
          clear: both;
          display: block;
          width: 0;
          height: 0; }

body.settings section.picker {
  float: left;
  width: 40%; }
  body.settings section.picker div.region-picker {
    height: 220px; }
body.settings section.details {
  float: right;
  width: 55%; }
  body.settings section.details .region-details tr td, body.settings section.details .region-details tr th {
    width: 32%; }
    body.settings section.details .region-details tr td input, body.settings section.details .region-details tr th input {
      width: 100%; }
  body.settings section.details .region-details tr td:first-child, body.settings section.details .region-details tr th:first-child {
    width: 36%; }
  body.settings section.details:after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0; }

body.event .content > .status {
  border: 1px solid #efdede;
  padding: 1rem 0; }
  body.event .content > .status:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0; }
  body.event .content > .status .hud {
    width: 30%;
    float: left; }
    body.event .content > .status .hud ul {
      padding: 0;
      margin: 0; }
      body.event .content > .status .hud ul li {
        list-style-type: none;
        padding: 0.2rem 0; }
        body.event .content > .status .hud ul li .label {
          display: inline-block;
          width: 7rem;
          padding-right: 1rem;
          font-size: 0.8rem;
          text-transform: uppercase;
          text-align: right; }
        body.event .content > .status .hud ul li .value {
          font-size: 0.9rem; }
        body.event .content > .status .hud ul li .status.success {
          color: #15E014; }
        body.event .content > .status .hud ul li .status.failure {
          color: #FB481C; }
  body.event .content > .status .toggles {
    width: 70%;
    float: right;
    margin-top: 1.8rem;
    text-align: center; }
    body.event .content > .status .toggles form {
      display: inline-block;
      margin-right: 2rem; }
      body.event .content > .status .toggles form .label.on {
        color: #15E014; }
body.event form.notes .field {
  padding-bottom: 0; }
  body.event form.notes .field label {
    display: none; }
  body.event form.notes .field textarea, body.event form.notes .field .help {
    width: 100%;
    margin: 0; }
  body.event form.notes .field textarea {
    border: 1px solid #efdede; }
body.event form.notes input[type="submit"] {
  margin-top: -0.9rem;
  border-top: 0;
  background-color: transparent;
  border-color: #efdede; }
body.event form div.field #venue_city, body.event form div.field #venue_state, body.event form div.field #venue_postal, body.event form div.field #venue_country,
body.event form div.field #ship_city, body.event form div.field #ship_state, body.event form div.field #ship_postal, body.event form div.field #ship_country {
  width: 18%;
  margin-left: 0.75%;
  margin-bottom: 0.25rem; }
body.event form div.field #venue_country, body.event form div.field #ship_country {
  clear: right; }
body.event form div.field #venue_postal, body.event form div.field #ship_postal {
  width: 22%; }
body.event form div.field #venue_city, body.event form div.field #ship_city {
  width: 36.75%; }
body.event form div.field #venue_state, body.event form div.field #ship_state, body.event form div.field #venue_country, body.event form div.field #ship_country {
  width: 7%; }
body.event .venue .location {
  width: 60%;
  float: left; }
body.event .venue .contact {
  width: 35%;
  float: left;
  margin-left: 4%; }
  body.event .venue .contact input {
    width: 100%;
    margin-bottom: 0.25rem; }
  body.event .venue .contact #venue_contact_first_name, body.event .venue .contact #venue_contact_last_name {
    width: 48.5%;
    display: inline-block; }
  body.event .venue .contact #venue_contact_last_name {
    margin-left: 1.125%; }
body.event .venue input[type="submit"] {
  clear: both; }
body.event .all.promotions {
  width: 100%; }
  body.event .all.promotions thead tr th {
    text-align: left; }
  body.event .all.promotions td {
    padding: 5px; }
  body.event .all.promotions .notes {
    width: 40%;
    height: 4rem;
    overflow-y: auto; }
  body.event .all.promotions .code {
    width: 25%; }
    body.event .all.promotions .code input {
      border: 1px dotted #FB481C;
      background-color: #ffeae4;
      text-align: center;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 4px; }
  body.event .all.promotions .scholarship .code input {
    border-color: #000;
    background-color: #ddd; }
body.event .sponsors {
  padding: 0; }
  body.event .sponsors li {
    list-style-type: none; }
    body.event .sponsors li.add {
      text-align: center; }
    body.event .sponsors li a {
      display: block;
      padding: 1rem;
      border: 1px solid #ddbcbc;
      text-decoration: none;
      border-radius: 4px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
      margin-bottom: 1rem; }
      body.event .sponsors li a header {
        display: block;
        height: 3rem;
        margin-bottom: 1rem; }
        body.event .sponsors li a header section.logo {
          width: 20%;
          height: 100%;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 100% 50%; }
        body.event .sponsors li a header section.info {
          width: 79%;
          display: inline-block; }
          body.event .sponsors li a header section.info h3 {
            font-size: 2rem;
            margin: 0; }
          body.event .sponsors li a header section.info span.url {
            font-size: 0.75rem; }
      body.event .sponsors li a > section {
        clear: both;
        padding: 1rem 0;
        border-top: 1px solid #efdede; }
        body.event .sponsors li a > section.blurb {
          font-size: 1.7rem; }
body.event .current.registrations ul {
  padding: 0; }
  body.event .current.registrations ul li {
    list-style-type: none;
    width: 15%;
    margin: 0;
    padding: 1rem;
    display: inline-block;
    text-align: center; }
    body.event .current.registrations ul li img {
      width: 100%;
      height: auto; }
    body.event .current.registrations ul li a {
      text-decoration: none;
      border: 0; }
    body.event .current.registrations ul li a > span {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.7rem; }
body.event .sent-emails {
  padding: 0; }
  body.event .sent-emails li {
    border: 1px solid #ddbcbc;
    border-top-width: 0;
    list-style-type: none;
    cursor: pointer;
    padding: 0.5rem;
    background-color: #efdede; }
    body.event .sent-emails li:first-child {
      border-top-width: 1px; }
    body.event .sent-emails li:after {
      content: "";
      display: block;
      clear: both;
      width: 0;
      height: 0; }
    body.event .sent-emails li span.to {
      display: block;
      width: 50%;
      float: left; }
    body.event .sent-emails li span.time {
      display: block;
      width: 50%;
      float: right;
      text-align: right; }
    body.event .sent-emails li span.subject {
      display: block;
      width: 100%; }

body.tools .events-selector:after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0; }
body.tools .events-selector ul {
  padding: 0;
  width: 25%;
  float: left; }
  body.tools .events-selector ul li {
    list-style-type: none; }
body.tools .directory {
  border-collapse: collapse; }
  body.tools .directory td, body.tools .directory th {
    padding-right: 0.75rem;
    padding-bottom: 0.25rem; }
  body.tools .directory .event td, body.tools .directory .event th {
    padding-top: 1rem; }
body.tools .tasks tr {
  height: 2.5rem; }
  body.tools .tasks tr td.step {
    padding-right: 1rem; }
    body.tools .tasks tr td.step.done span span {
      background-color: #15E014; }
    body.tools .tasks tr td.step > span {
      display: block;
      border: 1px solid #ddbcbc;
      padding: 1px;
      margin-bottom: 0.125rem; }
      body.tools .tasks tr td.step > span > span {
        display: block;
        background-color: #FB481C;
        width: 0.5rem;
        height: 0.5rem; }
body.tools .status {
  border-collapse: collapse; }
  body.tools .status thead th {
    font-size: 0.75rem;
    font-family: monospace; }
  body.tools .status tbody tr:nth-child(2n+1) {
    background-color: #efdede; }
  body.tools .status tbody tr td {
    border-left: 1px solid #ddbcbc;
    padding: 0.5rem; }
    body.tools .status tbody tr td.okay span span {
      background-color: #15E014; }
    body.tools .status tbody tr td > span {
      display: inline-block;
      border: 1px solid #ddbcbc;
      padding: 1px;
      margin-bottom: 0.125rem; }
      body.tools .status tbody tr td > span > span {
        display: block;
        background-color: #FB481C;
        width: 0.5rem;
        height: 0.5rem; }

body.debug .log {
  border: 1px solid #ddbcbc;
  overflow-y: scroll;
  font-family: monospace;
  white-space: nowrap; }
body.debug .queue-failed {
  padding: 0; }
  body.debug .queue-failed li {
    list-style-type: none;
    border-bottom: 1px solid #ddbcbc;
    padding: 1rem 0; }
  body.debug .queue-failed form {
    display: inline; }
    body.debug .queue-failed form input {
      display: inline;
      width: auto;
      padding: 0;
      float: none; }
  body.debug .queue-failed .payload {
    overflow-y: scroll; }

body.docs .model-details {
  padding: 0; }
  body.docs .model-details li {
    list-style-type: none;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-bottom: 1px solid #efdede; }
    body.docs .model-details li:last-child {
      border-bottom: none; }
    body.docs .model-details li h3 .id {
      border: 1px solid #ddbcbc;
      background-color: #efdede;
      padding: 0.25rem;
      border-radius: 3px;
      -moz-border-radius: 3px;
      font-family: monospace; }
    body.docs .model-details li .example, body.docs .model-details li .requires, body.docs .model-details li .type {
      padding-top: 0.5rem; }
      body.docs .model-details li .example h4, body.docs .model-details li .requires h4, body.docs .model-details li .type h4 {
        font-size: 1rem;
        display: inline; }
      body.docs .model-details li .example span, body.docs .model-details li .example a, body.docs .model-details li .requires span, body.docs .model-details li .requires a, body.docs .model-details li .type span, body.docs .model-details li .type a {
        margin-left: 0.25rem;
        border: 1px solid #ddbcbc;
        background-color: #efdede;
        padding: 0.25rem;
        border-radius: 3px;
        -moz-border-radius: 3px;
        font-family: monospace; }

.compose-email {
  border: 1px solid #ddbcbc; }
  .compose-email .field {
    border-bottom: 1px solid #efdede;
    padding: 0.25rem; }
    .compose-email .field label {
      width: 10%;
      color: #ddbcbc; }
    .compose-email .field.subject label {
      display: none; }
    .compose-email .field.subject input {
      width: 100%; }
    .compose-email .field.message {
      border-bottom: none; }
      .compose-email .field.message label {
        display: none; }
      .compose-email .field.message textarea {
        width: 100%;
        height: 20rem; }
    .compose-email .field input, .compose-email .field textarea, .compose-email .field select {
      border: none;
      width: 90%;
      font-family: "Helvetica", sans-serif !important;
      font-size: 1rem; }

.send-email input[type="submit"] {
  border: 1px solid #ddbcbc;
  border-top: none; }
.send-email select {
  float: right;
  margin-top: 0.25rem;
  margin-right: 1rem; }

.switch {
  position: relative;
  width: 130px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .switch .label {
    width: 130px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: block;
    padding-top: 0.4rem;
    color: #ddbcbc; }
  .switch input[type="checkbox"] {
    display: none; }
    .switch input[type="checkbox"]:disabled + label {
      cursor: not-allowed; }
      .switch input[type="checkbox"]:disabled + label .switch {
        text-indent: 0;
        background-color: transparent;
        border: none; }
    .switch input[type="checkbox"]:checked + label {
      border-color: #80f480; }
      .switch input[type="checkbox"]:checked + label .inner {
        margin-left: 0; }
      .switch input[type="checkbox"]:checked + label .switch {
        right: 0px;
        border-color: #80f480;
        color: #80f480; }
  .switch label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ddbcbc;
    border-radius: 3px;
    position: relative; }
  .switch.onoff .inner:before {
    content: "ON"; }
  .switch.onoff .inner:after {
    content: "OFF"; }
  .switch.enableddisabled .inner:before {
    content: "ENABLED"; }
  .switch.enableddisabled .inner:after {
    content: "DISABLED"; }
  .switch.openclosed .inner:before {
    content: "OPEN"; }
  .switch.openclosed .inner:after {
    content: "CLOSED"; }
  .switch .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s; }
    .switch .inner:before, .switch .inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 45px;
      padding: 0;
      line-height: 45px;
      font-size: 14px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .switch .inner:before {
      padding-left: 10px;
      background-color: #15E014;
      color: #0c820c;
      text-align: left; }
    .switch .inner:after {
      padding-right: 10px;
      background-color: #efdede;
      color: #ddbcbc;
      text-align: right; }
  .switch .switch {
    display: block;
    width: 24px;
    margin: 10.5px;
    background: #fff;
    border: 2px solid #ddbcbc;
    color: #ddbcbc;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 81px;
    text-indent: -10rem;
    overflow: hidden;
    font-size: 26px;
    line-height: 24px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s; }

.wrap *, header *, footer * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", sans-serif; }

body {
  background-color: #f7efef;
  margin: 0; }

a, a:hover, a:active, a:visited {
  color: #111; }

/*# sourceMappingURL=style.css.map */
