{% extends "template.twig" %}
{% block title %}Print-Friendly Overview // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
<header>
  <h2>Print-Friendly Overview</h2>
  <p>
    An overview of your event. Your notes are
    appended just before the emergency contact
    info.<br>
    <a href="https://gist.github.com/tjhorner/4c4cd686bd78d9e01dd4">Formatting Cheatsheet</a><br>
    <a href="#" onclick="printRaw()">Print</a> <a href="./overview/raw">Raw</a>
  </p>
</header>

<div class="overview-paper">
  {% include "event/overview-raw.twig" %}
</div>
{% endblock %}
{% block scripts %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  function printRaw(){
    var printContents = document.getElementById("overview").innerHTML;
    w = window.open();
    w.document.write("<div id='overview'>" + printContents + "</div>");
    w.print();
    w.close();
  }
</script>
<style>
  .overview-paper{
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px #888;
  }
</style>
{% endblock %}
