<p>Hi {{ registration.first_name }},</p>

<p>A few days ago you heard from a clearly-automated version of me, asking for your help promoting CodeDay. Here's the
   thing: robots don't know about social media. But I, <em>the real human Tyler Menezes,</em> use all the latest social
   media platforms.</p>

<p>So here's what I'm asking: CodeDay is better with more friends, so would you consider posting something about
   CodeDay on Snapchat or Instagram?</p>

<p>&nbsp;</p>

<p>I know what you're thinking: <em>"Tyler, Snapchat and Instagram are for photos, and since CodeDay hasn't happened,
   yet, what will I take a photo of?"</em></p>

<p>Here's my ridiculous solution: take a picture of yourself with this organizer holding CodeDay trophies and hashtag
   it #CodeDay. (We'll "like" it and follow you on Instagram.)</p>

<p>
    <span style="font-size: 3.75em">#CodeDay Virtual Photo Spot</span><br />
    <img style="width:100%" src="https://srnd-cdn.net/emails/codeday-awards.jpg" />
</p>

<p>Sincerely,<br />
   The real Tyler Menezes<br />
   Executive Director, srnd.org (we run CodeDay!)</p>

<p>(this is the last time I'll ask you for help promoting this CodeDay, but
   <a href="--unsubscribe--">unsubscribe here</a> if you're worried.)</p>
