{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}
{% block preview %}Here are some resources to help you this CodeDay. (Also: IT'S CODEDAY!!!){% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-line.jpg{% endblock %}
{% block title %}Let's get started!{% endblock %}

{% block sign_img %}https://srnd-cdn.net/emails/sign-john.png{% endblock %}
{% block sign_name %}John Peter{% endblock %}
{% block sign_title %}100% Authentic Human{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-john.png{% endblock %}
{% block body %}
    <p>Hi {{ registration.first_name }},</p>

    <p>I'm so excited you're joining us for CodeDay! Here are some resources which might help :)</p>

    <ul>
        <li><a href="https://codeday.org/">See the schedule on the website.</a></li>
        <li><a href="https://account.srnd.org/">Talk with other attendees and mentors (log in and click "Slack")</a></li>
        <li><a href="https://showcase.codeday.org/">Register your team and your project will be listen on the website!</a></li>
    </ul>
{% endblock %}
