{% extends "template.twig" %}
{% block title %}Deck{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Deck</h2>
        <p>The opening presentation! Automatically generates a slide deck and notes including local sponsors, workshops, etc.</p>
    </header>

    {% if me.is_admin %}
        {% set events = managed_batch.events %}
    {% else %}
        {% set events = me.current_managed_events %}
    {% endif %}

    <ul>
        {% for event in events %}
            <li>{{ event.name }}: <a href="/tools/deck/slides?event={{ event.id }}">Slides</a>, <a href="/tools/deck/notes?event={{ event.id }}">Notes</a></li>
        {% endfor %}
    </ul>

{% endblock %}