{% macro region(region) %}
    <div class="region-widget">
        <div class="image" style="background-image: url(/api/i/region/{{ region.id }}_512,256.jpg"></div>
        <div class="data">
            <span class="name">{{ region.name }}</span>
        </div>
    </div>
{% endmacro %}
