{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}
{% block preview %}Will you join me and thousands of new CodeDay friends on our Slack?{% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-community.jpg{% endblock %}
{% block title %}Let's talk.{% endblock %}

{% block sign_img %}https://srnd-cdn.net/emails/sign-john.png{% endblock %}
{% block sign_name %}John Peter{% endblock %}
{% block sign_title %}Official srnd.org Human{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-john.png{% endblock %}

{% block body %}
    <p>Hey {{ registration.first_name }}! It's me again, your friend John!</p>

    <p>By registering for CodeDay, you've not only signed up for a weekend of fun, you've also become part of a global
       community of students building cool things!</p>

    <p>I'd like to invite you to join our community Slack! Slack is a popular chatroom service; by joining ours, you'll
       be able to get help from mentors, meet other CodeDay students around the world, and talk to cool not-robots like
       me!</p>

    <p>To join, just <a href="https://account.srnd.org/">register for an srnd.org account</a> and
       then click the Slack link when you're logged in.</p>
{% endblock %}
