{% extends "emails/template_transactional.twig" %}
{% block header %}
    <img src="https://clear.codeday.org/assets/img/email_confirm_header_01.jpg" alt="Slack Invite"/>
{% endblock %}
{% block unsubscribe %}{% endblock %}
{% block body %}
    <p>Hey {{ registration.first_name }},</p>

    <p>Thank you for helping out this CodeDay!</p>

    <p>We'd like to invite you to join our Slack! Slack is a chat service used by our attendees to communicate with
       each other, as well as to request help from mentors.</p>

    <p>On the day-of, attendees will be looking for help on Slack, so it's important that you're there.</p>

    <p>Please register for our Slack at
       <a href="https://s5apps.studentrnd.org/slack">https://s5apps.studentrnd.org/slack</a>. (You will need to register
       for a StudentRND s5 account, which will let you sign into any other StudentRND services you might need in the
       future.)</p>

    <p>If you'll be helping as a mentor, you should also install the mobile Slack app. You will receive notifications
       when students at your event require help through Slack. Get it for
       <a href="https://play.google.com/store/apps/details?id=com.Slack">Android</a> or
       <a href="https://itunes.apple.com/us/app/slack-business-communication/id618783545?mt=8">iOS.</a>

    <p>If you have any questions, please reply to this message.</p>

    <p>Cheers!<br />
        The CodeDay Team</p>
{% endblock %}
