body.dayof
    .switcher
        text-align: center

    .checkin
        .type-teacher
            color: $color-blue
            font-weight: bold

        .type-volunteer
            color: $color-green
            font-weight: bold

        .type-sponsor
            color: $color-red
            font-weight: bold

    .parent, .student
        width: 48%
        display: inline-block

    .parent
        padding-left: 2%

    .student
        padding-right: 2%
