body.dayof
    .checkin
        .type-teacher
            color: $color-blue
            font-weight: bold

        .type-volunteer
            color: $color-green
            font-weight: bold

        .type-sponsor
            color: $color-red
            font-weight: bold
