body.event
    form div.field
        #venue_city, #venue_state, #venue_postal, #venue_country
            width: 18%
            margin-left: 0.75%
        #venue_country
            clear: right
        #venue_city
            width: 22.75%
        #venue_state
            width: 14%

    .all.promotions
        width: 100%
        thead tr th
            text-align: left
        td
            padding: 5px
        .notes
            width: 40%
            height: 4rem
            overflow-y: auto

        .code
            width: 25%
            input
                border: 1px dotted $accent-color
                background-color: lighten($accent-color, 40)
                text-align: center
                border-radius: 5px
                -moz-border-radius: 5px
                -webkit-border-radius: 5px
                padding: 4px
        .scholarship .code input
            border-color: #000
            background-color: #ddd

    .current.registrations
        ul
            padding: 0
            li
                list-style-type: none
                width: 15%
                margin: 0
                padding: 1rem
                display: inline-block
                text-align: center

                img
                    width: 100%
                    height: auto

                a
                    text-decoration: none
                    border: 0

                a > span
                    display: block
                    width: 100%
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                    font-size: 0.7rem
