body.event
    form div.field
        #venue_city, #venue_state, #venue_postal, #venue_country,
        #ship_city, #ship_state, #ship_postal, #ship_country
            width: 18%
            margin-left: 0.75%
        #venue_country, #ship_country
            clear: right
        #venue_city, #ship_city
            width: 22.75%
        #venue_state, #ship_state
            width: 14%

    .all.promotions
        width: 100%
        thead tr th
            text-align: left
        td
            padding: 5px
        .notes
            width: 40%
            height: 4rem
            overflow-y: auto

        .code
            width: 25%
            input
                border: 1px dotted $accent-color
                background-color: lighten($accent-color, 40)
                text-align: center
                border-radius: 5px
                -moz-border-radius: 5px
                -webkit-border-radius: 5px
                padding: 4px
        .scholarship .code input
            border-color: #000
            background-color: #ddd

    .current.registrations
        ul
            padding: 0
            li
                list-style-type: none
                width: 15%
                margin: 0
                padding: 1rem
                display: inline-block
                text-align: center

                img
                    width: 100%
                    height: auto

                a
                    text-decoration: none
                    border: 0

                a > span
                    display: block
                    width: 100%
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                    font-size: 0.7rem

    .sent-emails
        padding: 0
        li
            border: 1px solid $foreground-color-light
            border-top-width: 0
            list-style-type: none
            cursor: pointer
            padding: 0.5rem
            background-color: $foreground-color-lighter
            &:first-child
                border-top-width: 1px
            &:after
                content: ""
                display: block
                clear: both
                width: 0
                height: 0
            span.to
                display: block
                width: 50%
                float: left
            span.time
                display: block
                width: 50%
                float: right
                text-align: right
            span.subject
                display: block
                width: 100%