{% extends 'email-pages/template' %}
{% block title %}Email Preferences{% endblock %}
{% block content %}
  <h1>CodeDay Email Preferences</h1>
  {% if success %}
      <p class="success">Your preferences were updated.</p>
  {% endif %}
  <form method="post">
      <div class="field">
          <input type="radio" name="type" id="type_none" value="none" {% if type == 'none' %}checked{% endif %} />
          <label for="type_none"><span>All Emails:</span> I want to receive all emails.</label>
      </div>
      <div class="field">
          <input type="radio" name="type" id="type_marketing" value="marketing" {% if type == 'marketing' %}checked{% endif %} />
          <label for="type_marketing"><span>Important Emails:</span> I still want to receive my purchased tickets.</label>
      </div>
      <div class="field">
          <input type="radio" name="type" id="type_all" value="all" {% if type == 'all' %}checked{% endif %} />
          <label for="type_all"><span>No Emails At All:</span> I don't want to receive tickets and other important information.</label>
      </div>

      <div class="warning" style="display: none;">
          <p>You will not receive important emails like:</p>
          <ul>
              <li>Emails with purchased tickets</li>
              <li>Emails if the event is cancelled or the location changes</li>
              <li>Info on what to bring to the event</li>
              <li>Any other urgent emails</li>
          </ul>
          <p>If you only want to receive important emails, select "No Marketing".</p>
      </div>

      <input type="submit" value="Save"/>
  </form>
{% endblock %}
{% block scripts %}
  <script type="application/javascript">
      $(document).ready(function(){
          var checkAll = function(){
              var selected = $('input[type="radio"][name="type"]:checked').val();
              if (selected == 'all') {
                  $('.warning').show(500);
              } else {
                  $('.warning').hide(500);
              }
          };
          $('input[type="radio"][name="type"]').on('change', checkAll);
          checkAll();
      });
  </script>
{% endblock %}
