{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}
    {% if is_marketing %}
        You can <a href="--unsubscribe--">unsubscribe</a> from emails like this.
    {% else %}
        <!-- --unsubscribe-- -->
    {% endif %}
{% endblock %}
{% block body %}
    {{ include(template_from_string(content))|markdown|raw }}
{% endblock %}
