<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style></style>
</head>
<body>
<style type="text/css">
    #emailHeader tr td img{
        height:auto !important;
        width: 100% !important;
        max-width: 600px !important;
    }

    #emailContainer, #emailHeader, #emailBody, #emailFooter {
        color: #565656;
        font-family: "Helvetica", "Arial", "Verdana", sans-serif;
        font-size: 16px;
        line-height: 24px;
        width: 100% !important;
        max-width: 600px !important;
    }

    h1, h2, h3, h4 {
        text-align: center;
        margin-top: 2em;
    }

    #emailFooter, #emailFooter a {
        font-size: 11px;
        color: #9a9a9a;
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;
        width: 40%;
        margin: 30px auto;
    }

</style>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer">
                {% if block('header') %}
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailHeader">
                                <tr>
                                    <td align="center" valign="top">
                                        {{ block('header') }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailBody">
                            <tr>
                                <td align="left" valign="top">
                                    {{ block('body')}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailFooter">
                            <tr>
                                <td align="left" valign="top">
                                    <p>
                                        {% block why %}
                                            You received this email because you registered for CodeDay.
                                        {% endblock %}
                                        {% block unsubscribe %}
                                            You can
                                            <a href="https://clear.codeday.org/e/unsubscribe?e={{ registration.email|url_encode }}">unsubscribe from emails like this.</a><br />
                                        {% endblock %}
                                    Our mailing address is 505 Broadway E #141, Seattle, WA 98102</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
