<p>Hey {{ registration.first_name }}!</p>
<p>We wanted to let you know that we've cancelled your CodeDay registration.</p>
{% if refund %}
<p>Your card was refunded in full. You should expect to see this amount credited back to
   your card in the next few days.</p>
{% endif %}
<p>If you have any questions, please reply to this email.<br />
    The StudentRND Team</p>