<p>Hey {{ first_name }}!</p>
<p>We wanted to let you know that we've refunded you ${{ amount|number_format(2) }} for
    your CodeDay ticket. You should expect to see this amount credited back to your
    card in the next few days.</p>
<p>Please note that <strong>you still have a CodeDay ticket!</strong> This is a partial
    refund, not a cancellation!</p>
<p>If you have any questions, please reply to this email.<br />
    The StudentRND Team</p>