<ul>
    <li><a href="/settings/batches">Batches</a></li>
    <li><a href="/settings/regions">Regions</a></li>
    <li><a href="/settings/agreements">Agreements</a></li>
    <li><a href="/settings/email-templates">Email Templates</a></li>
    <li><a href="/settings/sms">SMS Schedule</a></li>
</ul>