{% extends "template.twig" %}
{% block title %}Run of Show // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
<header>
  <h2>Run of Show</h2>
    <a href="#" onclick="printRaw()">Print</a> <a href="./overview/raw">Raw</a>
  </p>
</header>

<div class="overview-paper">
  {% include "event/overview-raw.twig" %}
</div>
{% endblock %}
{% block scripts %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  function printRaw(){
    var printContents = document.getElementById("overview").innerHTML;
    w = window.open();
    w.document.write("<div id='overview'>" + printContents + "</div>");
    w.print();
    w.close();
  }
</script>
<style>
  .overview-paper{
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px #888;
  }
</style>
{% endblock %}
