{% extends "template.twig" %}
{% block title %}Slack Integration // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
<header>
  <h2>Slack Integration</h2>
  <p>
    You can integrate Clear into your Slack team to get notified whenever
    someone registers for your event. To add an integration, simply press
    the "Add to Slack" button and choose the channel you'd like Clear to
    message when someone registers.
  </p>
  <p>
    To remove an integration, go to <a href="https://my.slack.com/apps/A5ANMB0CF-clear">your Slack settings</a>
    and remove the authorization.
  </p>
</header>

<a href="https://slack.com/oauth/authorize?&client_id=2153102999.180769374423&scope=incoming-webhook&redirect_uri=https://clear.codeday.org/api/slack/oauth"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
{% endblock %}
