{% extends "template.twig" %}
{% block title %}Spotify Integration // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
<header>
  <h2>Spotify Integration</h2>
  <p>
    Link your event to Spotify so attendees can see what
    song is currently playing through the CodeDay Companion
    app. You must have Spotify Premium to use this feature.
  </p>
</header>

<p>
  {% if event.spotify_access_token %}
    Connected to Spotify. <a href="spotify/unlink">Unlink account</a>
  {% else %}
    <a href="{{ oauth_uri }}">Link Spotify Account</a>
  {% endif %}
</p>

<p>
  If you link your Spotify Premium account, attendees will see
  what song is currently playing at your event. The card will
  show up on CodeDay Companion, and looks something like this:
  <br><br>
  <img src="/assets/img/now_playing_card.png"/>
</p>
{% endblock %}
